.statement-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 500px;
  }

.H2 {
    margin-left: 0px;
}

.left {
  width: 30%;
  padding: 12px;
}

.right {
  width: 70%;
  .ant-col.ant-col-1.divide-col{
    text-align: center;
    .divider{
      background-color: black;
      width: 3;
      height: "100%";
      margin: auto;
    } 
}
  .right-content{
    position: relative;
    width:100%;
    height: 100%;
    padding: 12px;
  }
}

.ant-row.ant-form-item.tail{
  .ant-col.ant-col-24.ant-form-item-control{
      margin: auto;
      
      .button-group{
        text-align: center
      }
  }
}

@media only screen and (max-width: 768px) {
  .left {
    width: 100%;
  }

  .right {
    width: 100%;
    .divider{
      display: none;
    }
    .divide-col{
      display: none;
    }
    .content-col{
      margin: auto
    }
  }
}
