.content__root{
  margin: 20px;
  padding: 20px;
  background: #fff;
  
}

.left-item{
  text-align: left !important;
  align-items: left !important; 
}
.right-item{
  text-align: right !important;
  align-items: right !important; 
}
.center-item{
  text-align: center !important;
  align-items: center !important; 
}