.button {
  background-color: #FF5858;
  border-color: #FF5858;
}
.button:hover {
  background-color: #FF5858;
  border-color: #FF5858;
}
.button:active {
  background-color: #FF5858;
  border-color: #FF5858;
}

.ant-btn-primary[disabled].bg-color{
  background-color: #FF5858;
  border-color: #FF5858;
}