.site-layout-content {
    background: #fff;
    padding: 5px;
}

.cursor-pointer { cursor: pointer }

.btn-primary {
    background-color: #0031FF !important;
    border-color: #0031FF !important;
    font-weight: bold !important;
}

.btn.btn-warning.btn-outline-warning{
    color: white !important;
    background-color: #FFB100 !important;
    padding: 10px !important;
    font-weight: bold !important;
}

.btn.btn-danger {
    padding: 10px !important;
    font-weight: bold !important;
}

a:hover { text-decoration: none !important; }
.bg-white { background-color: white }

.txt-blue { color: #0089FF }

.mt-1 { padding-top: 5px }  .mb-1 { padding-bottom: 5px }  .ml-1 { padding-left: 5px }  .mr-1 { padding-right: 5px }

.weekly_sales_root{
    .ant-card{
        height: 100%;
    }
}