.withdrawTitle
{
    margin-left: 10px;
}

.Remark
{
    margin-top: 25px;
}

.buttonGroup
{
    margin-top: 15px;
}
.approve-button
{
    margin-left: 5px;
}

.reject-button
{
    margin-left: 5px;
}

.approval-form {
    width: 100%;
    margin: auto;
  }

.wallet_type {
    width: 100%;
}
