.Maintenance {
    background-color: #001765 !important;
  
    .lbl-error {
      font-size: 2em;
      font-weight: bold;
    }
  
    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575.98px) {
      width: 100vw;
      height: 100vh;
    }
  
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) {
      width: 100vw;
      height: 100vh;
    }
  
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) {
      width: 100vw;
      height: 100vh;
    }
  
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      height: 100%;
    }
  }