.machine-form{
  .rate{
    margin-top: 5px;
    border: 1px solid #ccc;
    text-align: center;
  }

  .ant-input-number{
    width: 20%;
  }

  .ant-card-cover img{
    width: 100px;
    height: auto;
    margin: auto;
  }

}

